//style for more menu list#####################
.modalMoreItemContainer{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    top: 80px;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index: 9999 !important;
    .cardMoreItemAccount {
      width: 200px;
      height: 190px;
      top:0;
      left: 200px;
      background: #fff;
      position: absolute;
      text-align: center;
      justify-content: center;
      z-index: 20;
      .subMoreItemContentContainer{
        padding:10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .subMoreItemContainerDiv{
            width: 100%;
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            align-items: flex-end;
            padding:10px 2px;
            cursor: pointer;
          a{
            color:#333333;
            border: none !important;
            &:hover{
              text-decoration: underline;
              color: var(--color-red);
             
            }
          }
        }
  
      }
    }
  }