.agencyPage{
    width: 100%;
    min-height: 100vh; 
    background-color: #f1f1f1; 
    padding: 20px 0px;
    .breadCrumbsContainer{
      width: 100%;
      height: 50px;
      padding: 3rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 500px){
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap:10px;
          height: fit-content;
          padding: 20px;
      }
    }
    .agencyContainer{
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
        // align-items:center;
        .cardContainer {
            width: 270px;
            height: 310px;
            overflow: hidden;
            background-color: #fff;
            text-align: right;
            margin: 6px;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 20px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            &:hover{
              text-decoration: underline;   
            }
            @media(max-width : 500px){
              width: calc(100% - 20px)
                
            }
            .containerCardOne{
              height: 170px;
              margin-bottom: 10px;
                img{
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                    &:hover{
                        filter: brightness(30%); 
                    }
                 }
            }

            .containerCardMiddele{
              h3{
                font-size: 1.2rem;
                font-weight:600;
                color: #000000;
                padding: 5px 10px 5px 0px;
                font-family: YekanBakh;
              }
              span{
                font-size: 1rem;
                color: rgba(89, 82, 82, 1);
                padding-right: 5px;
                font-family: YekanBakh;
              }
            }
            
          .containerCardTow{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              font-size: 14px;
              font-weight:600;
              color: #000000 !important;
              margin-top: 20px;
              bottom: 0;
              padding: 10px 5px 0px 5px;
              cursor: pointer;
              div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                &:nth-child(2){
                  height: 20px;
                  width: 1px;
                  background-color: rgb(110, 108, 108);
                }
              }
          }
                  
        }
     }
     .moreDispaly{
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 50%);
      height: 60px;
      margin: auto;
      padding: 10px;
      border-radius: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index:999;
      background-color: #82050f;
      cursor: pointer;
      margin-bottom: 20px;
      @media(max-width:700px){
        width: 100%;
        border-radius: 0;
      }
  

      button{
        width: 300px;
        height: 30px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: YekanBakh;
        border: 1px solid #82050f;
        background-color: #82050f;
        font-weight: 300;
        font-size: 1rem;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        &:hover{
          background-color: gray;
          border: 1px solid gray;
          transition: all 0.3s ease-in;
          transform: translateX(5px);
        }
      }
 
  }
    }
   
  

 
