.postDetailContainer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 100px 10px;
  .breadCrumbsContainer {
    width: 100%;
    height: 50px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      height: fit-content;
      padding: 10px;
    }
  }
  .mainContentDetailComponent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 30px;
    @media (max-width: 900px) {
      flex-direction: column;
      padding: 0px;
      gap: 20px;
    }
    .cardContentImage {
      width: 60%;
    //   background-color: blue;
      display: flex;
      flex-direction: column;
      gap: 10px;
    //   align-items: center;
    //   justify-content: center;
      margin: auto;
      @media (max-width: 550px) {
        width: calc(100% - 4%);
        gap: 20px;
      }
      .picturePost {
        height: 400px;
        width: 700px;
        cursor: pointer;
        @media (max-width: 550px) {
          height: 300px;
          width: 300px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        text-align: right;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        color: #333;
        text-align: right;
        line-height: 2rem;
      }
    }
    .postListContainer {
      width: 30%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 10px;
      position: sticky;
      top: 100px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;

      @media (max-width: 550px) {
        width: calc(100% - 4%);
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
        color: rgb(135, 136, 219);
        padding: 5px;
        margin-bottom: 15px;
      }
      .postList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 15px;
        p {
          font-size: 1rem;
          font-weight: 600;
          text-align: center;
          padding: 5px;
          cursor: pointer;
          background-color: rgb(198, 198, 204);
          border-radius: 5px;
        }
      }
    }
  }
  .commentSction {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
  }
}
