.mContainer{
    height: 60vh;
    @media screen and (max-width : 1000px) {
        display: none;
    }

    .circle {
      fill: none;
      stroke : red;
      stroke-width:2px;
      transition: stroke-width .5s;
      animation: colorChange .8s infinite; 
      cursor: pointer !important; 
      &:hover{
        stroke-width:7px;
      }
    }
}

.customPopup {
    max-width: 150px !important; 
    height: 200px; 
    display:flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 14px;
        font-family: YekanBakh;
        font-weight: 400;
        text-align: center;
    }
 
    button{
        background-color:#e10a1d;
        border: 1px solid #e10a1d;
        padding: 3;
        font-size: 14px;
        font-weight: 300;
        font-family:YekanBakh ;
    }
  }


  @keyframes colorChange {
    0% {
      stroke: red;
    }
    25% {
      stroke: white;
    }
    50% {
      stroke: red;
    }
    75% {
      stroke: yellow;
    }
    100% {
      stroke: red;
    }
  }
  






  
